# FRONTEND

# build output
tienda-frontend/dist/
# generated types
tienda-frontend/.astro/

# Node dependencies
tienda-frontend/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
tienda-frontend/.env
tienda-frontend/.env.production

# macOS-specific files
tienda-frontend/.DS_Store

# jetbrains setting folder
tienda-frontend/.idea/


# BACKEND

django-backend/admin_project/__pycache__/
django-backend/clientes/__pycache__/
