# FRONTEND

# build output
tienda-frontend/dist/
# generated types
tienda-frontend/.astro/

# Node dependencies
tienda-frontend/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
tienda-frontend/.env
tienda-frontend/.env.production

# macOS-specific files
tienda-frontend/.DS_Store

# jetbrains setting folder
tienda-frontend/.idea/


# BACKEND

django-backend/admin_project/__pycache__/

django-backend/clientes/__pycache__/
django-backend/clientes/migrations/__pycache__/

django-backend/productos/__pycache__/
django-backend/productos/migrations/__pycache__/

django-backend/administrador/__pycache__/
django-backend/administrador/migrations/__pycache__/

django-backend/metodo_pago/__pycache__/
django-backend/metodo_pago/migrations/__pycache__/

django-backend/categoria/__pycache__/
django-backend/categoria/migrations/__pycache__/

django-backend/subcategoria/__pycache__/
django-backend/subcategoria/migrations/__pycache__/

django-backend/proveedor/__pycache__/
django-backend/proveedor/migrations/__pycache__/

django-backend/inventario/__pycache__/
django-backend/inventario/migrations/__pycache__/

django-backend/estante/__pycache__/
django-backend/estante/migrations/__pycache__/

django-backend/tipo_comprobante/__pycache__/
django-backend/tipo_comprobante/migrations/__pycache__/

django-backend/comprobante/__pycache__/
django-backend/comprobante/migrations/__pycache__/

django-backend/estante/__pycache__/
django-backend/estante/migrations/__pycache__/

django-backend/pedido/__pycache__/
django-backend/pedido/migrations/__pycache__/

django-backend/reembolso/__pycache__/
django-backend/reembolso/migrations/__pycache__/

django-backend/scraping/__pycache__/
django-backend/scraping/migrations/__pycache__/
