---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Página no encontrada">
  <!-- component -->
  <div class="min-h-[calc(100vh-4rem)] w-screen pt-44">
    <div class="container flex flex-col items-center justify-center px-5">
      <div class="max-w-md mb-4">
        <span class="mb-24">
          <strong>Error 404</strong>
        </span>
        <div>
          <span class="text-2xl md:text-3xl mb-4 font-light leading-normal">
            <strong>Página no encontrada</strong>
          </span>
          <p class="mb-8">
            Check if the search term is correct. If you think this is an error,
            contact support <strong>Thanks!</strong>
          </p>
        </div>
      </div>
      <a
        onclick="location.reload()"
        class="px-4 inline py-2 items-left text-sm font-medium leading-5 shadow text-white transition-colors duration-150 border border-transparent rounded-lg focus:outline-none focus:shadow-outline-blue bg-red-600 active:bg-red-600 hover:bg-blue-500 pointer"
        >Reload</a
      >
    </div>
  </div>
</Layout>
