---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Cesta">
    <div
        class="w-min-90 max-w-screen-xl mx-auto md:grid md:grid-cols-2 md:gap-x-4rem"
    >
        <main class="block">
            <h3 class="text-3.2xl leading-1.2">Productos seleccionados</h3>
            <article></article>
        </main>
        <aside>
            <h3 class="text-3.2xl leading-1.2">Resumen</h3>
        </aside>
    </div>
</Layout>
