---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Compras">
    <header>
        <h2 class="mt-8 mb-8 text-2xl text-center font-semibold">
            CONFIRMAR COMPRAS
        </h2>
    </header>
</Layout>