---
import Layout from "../layouts/MainLayout.astro";
import modelos from "../assets/img/modelos-ropa.jpg"
---

<Layout title="Inicio">
  <section class="min-h-[calc(100vh-4rem)] md:pt-6 lg:pt-10 xl:pt-8 2xl:pt-28 w-full">
    <div
      class="grid max-w-screen-xl mx-auto gap-2 lg:gap-8 xl:gap-0 lg:grid-cols-12"
    >
      <div class="lg:col-span-7 pl-4 mb-12 lg:mb-0">
        <h1
          class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white"
        >
          Encuentra lo que buscas, a un precio <br /> que te encanta
        </h1>
        <p
          class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
        >
          En nuestra tienda online, disfrutarás de una amplia selección de productos de calidad, navegación intuitiva, compra fácil y segura, y las últimas tendencias y ofertas especiales. ¡Gracias por visitarnos!.
        </p>
      </div>
      <div class="lg:col-span-5 lg:flex justify-center">
        <img src={modelos.src} alt="hero image" class="w-full lg:w-11/12 xl:w-4/5" />            </div>
    </div>
  </section>
</Layout>
