---
import axios from "axios";
import Layout from "../layouts/MainLayout.astro";

export const prerender = false;

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const correo = formData.get("correo");
    const contraseña = formData.get("contraseña");
    const apiUrl = "https://ecomerce-ia.onrender.com/api/clientes/login/";
    const response = await axios.post(apiUrl, { correo, contraseña });

    if (response.status === 200) {
      // Manejar una respuesta de inicio de sesión exitosa
      console.log(`Haz iniciado sesión! Usuario: ${correo}`);
      // Redirect to another page
      return Astro.redirect("/");
    } else if (response.status === 404) {
      console.error("Error 404: Endpoint not found");
    } else {
      console.error("Error al iniciar sesión:", response.statusText);
      if (response.data && response.data.error) {
        console.error("Error message from API:", response.data.error);
      }
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error("Error al iniciar sesión:", error.message);
    }
  }
}
---

<!-- formualrio Iniciar sesion -->
<Layout title="Iniciar Sesión">
  <div class="justify-center min-h-[calc(100vh-4rem)] pt-12">
    <div
      class="max-w-md mx-auto shadow-lg rounded-lg dark:bg-gray-800 p-4 lg:p-6 md:p-5 sm:p-4"
    >
      <h1 class="text-3xl font-bold text-center mb-8">Iniciar sesión</h1>
      <form method="post">
        <!-- Username Input -->
        <div class="mb-4">
          <label for="email" class="block text-gray-600 dark:text-gray-300 pb-2"
            >Correo electrónico</label
          >
          <input
            type="email"
            id="email"
            name="correo"
            required
            class="w-full border text-black dark:text-black border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
            autocomplete="on"
          />
        </div>
        <!-- Password Input -->
        <div class="mb-4">
          <label
            for="password"
            class="block text-gray-600 dark:text-gray-300 pb-2"
            >Contraseña</label
          >
          <input
            type="password"
            id="password"
            name="contraseña"
            required
            class="w-full border text-black dark:text-black border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
            autocomplete="on"
          />
        </div>
        <!-- Remember Me Checkbox -->
        <div class="mb-4 flex items-center">
          <input
            type="checkbox"
            id="remember"
            name="remember"
            class="text-blue-500"
          />
          <label for="remember" class="text-gray-600 dark:text-gray-300 ml-2"
            >Recuerdame</label
          >
        </div>
        <!-- Forgot Password Link -->
        <div class="mb-6 text-blue-500">
          <a href="#" class="hover:underline">¿Has olvidado tu contraseña?</a>
        </div>
        <!-- Login Button -->
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full"
          >Ingresar</button
        >
      </form>
      <!-- Sign up  Link -->
      <div class="mt-6 text-blue-500 text-center">
        <span class="text-gray-600 dark:text-gray-300"
          >¿Aún no tienes una cuenta?</span
        >
        <a href="/registrarse" class="hover:underline">Registrate aquí</a>
      </div>
    </div>
  </div>
</Layout>
