---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Prenda">
    <section class="w-[95%] max-w-[120rem] mx-auto">
        <div class="max-w-full block">
            <img
                src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
                alt="Polo clasico color negro"
            />
        </div>

        <div class="flex flex-col justify-center mt-20 md:mt-0">
            <h2 class="mb-8">Basic Tee</h2>
            <p></p>
        </div>
    </section>
</Layout>s
