---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Registrarse">
  <div class="justify-center min-h-[calc(100vh-4rem)] pt-12 rounded-lg w-full">
    <form>
      <fieldset class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-x-1 md:gap-4">
        <div class="mb-4 md:mb-0">
          <label
            for="area"
            class="block text-gray-700 dark:text-white  mb-2"
            >Nombres:</label
          >
          <input
            type="text"
            id="area"
            placeholder="Enter area"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
        </div>
        <div>
          <label
            for="city"
            class="block text-gray-700 dark:text-white  mb-2"
            >Apellidos:</label
          >
          <input
            type="text"
            id="city"
            placeholder="Enter city"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
        </div>
      </fieldset>
      <div class="mb-4">
        <label
          for="email"
          class="block text-gray-700 dark:text-white  mb-2"
          >Email Address</label
        >
        <input
          type="email"
          id="email"
          placeholder="Enter your email"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      <fieldset class="mb-4 flex flex-col md:flex-row md:space-x-4">
        <div class="md:w-1/2 mb-4 md:mb-0">
          <label
            for="date"
            class="block text-gray-700 dark:text-white  mb-2"
            >Date</label
          >
          <input
            type="date"
            id="date"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
        </div>
        <div class="md:w-1/2">
          <label
            for="time"
            class="block text-gray-700 dark:text-white  mb-2"
            >Time</label
          >
          <input
            type="time"
            id="time"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
        </div>
      </fieldset>
      <fieldset class="mb-4 grid grid-cols-1 md:grid-cols-2 md:gap-4">
        <div class="mb-4 md:mb-0">
          <label
            for="area"
            class="block text-gray-700 dark:text-white  mb-2"
            >Enter area</label
          >
          <input
            type="text"
            id="area"
            placeholder="Enter area"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
        </div>
        <div>
          <label
            for="city"
            class="block text-gray-700 dark:text-white  mb-2"
            >Enter city</label
          >
          <input
            type="text"
            id="city"
            placeholder="Enter city"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
        </div>
      </fieldset>
      <fieldset class="mb-4 grid grid-cols-1 md:grid-cols-2 md:gap-4">
        <div class="mb-4 md:mb-0">
          <label
            for="state"
            class="block text-gray-700 dark:text-white  mb-2"
            >Enter state</label
          >
          <input
            type="text"
            id="state"
            placeholder="Enter state"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
        </div>
        <div>
          <label
            for="postcode"
            class="block text-gray-700 dark:text-white  mb-2"
            >Post Code</label
          >
          <input
            type="text"
            id="postcode"
            placeholder="Post Code"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
        </div>
      </fieldset>
      <div>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full"
          >Ingresar</button
        >
      </div>
    </form>
  </div>
</Layout>
