---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Tienda">
  <main
    class="mx-auto max-w-2xl px-4 pt-8 pb-16 sm:px-6 lg:max-w-7xl lg:pt-8 md:dark:bg-gray-900"
  >
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Prendas de temporada
    </h2>

    <section
      class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      <article class="group relative">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
        >
          <img
            src="https://static.zara.net/assets/public/8149/7af1/d7d74347a4ca/578e1c9b9ed4/06462411800-e1/06462411800-e1.jpg?ts=1709823508515&w=750"
            alt="Front of men's Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700 dark:text-white">
              <a href="./prendas/camiseta">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Polo
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Negro</p>
          </div>
          <p class="text-sm font-medium text-gray-900 dark:text-white">S/45</p>
        </div>
      </article>

      <article class="group relative">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
        >
          <img
            src="https://static.zara.net/assets/public/02b4/a442/ccfb4fec8801/8035a04fbb04/04786807250-e1/04786807250-e1.jpg?ts=1702467144417&w=750"
            alt="Front of men's Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700 dark:text-white">
              <a href="./prendas/pantalon">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Pantalón
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Blanco</p>
          </div>
          <p class="text-sm font-medium text-gray-900 dark:text-white">S/105</p>
        </div>
      </article>

      <article class="group relative">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
        >
          <img
            src="https://static.zara.net/photos///2023/I/0/1/p/3046/260/704/2/w/750/3046260704_6_1_1.jpg?ts=1692174136023"
            alt="Front of men's Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700 dark:text-white">
              <a href="./prendas/chaqueta">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Chaqueta
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Marrón</p>
          </div>
          <p class="text-sm font-medium text-gray-900 dark:text-white">S/180</p>
        </div>
      </article>

      <article class="group relative">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
        >
          <img
            src="https://static.zara.net/assets/public/fcf9/c170/241544f298a3/02ec5f524100/04661315600-e1/04661315600-e1.jpg?ts=1711114223597&w=750"
            alt="Front of men's Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700 dark:text-white">
              <a href="./prendas/vestido">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Vestido
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Rojo</p>
          </div>
          <p class="text-sm font-medium text-gray-900 dark:text-white">S/60</p>
        </div>
      </article>
      <!-- More products... -->
    </section>
    <!-- More sections... -->
    <section
      class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      <article class="group relative">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
        >
          <img
            src="https://static.zara.net/photos///2023/I/0/1/p/4341/754/533/2/w/750/4341754533_6_1_1.jpg?ts=1698407234145"
            alt="Front of men's Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700 dark:text-white">
              <a href="./prendas/abrigo">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Abrigo
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Verde</p>
          </div>
          <p class="text-sm font-medium text-gray-900 dark:text-white">S/95</p>
        </div>
      </article>

      <article class="group relative">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
        >
          <img
            src="https://static.zara.net/assets/public/7e4d/8ccc/3bed4e70a0ca/ad71843e6ed7/12407221800-e2/12407221800-e2.jpg?ts=1709192253876&w=750"
            alt="Front of men's Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700 dark:text-white">
              <a href="./prendas/zapatos">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Zapatos de vestir
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Negro</p>
          </div>
          <p class="text-sm font-medium text-gray-900 dark:text-white">S/145</p>
        </div>
      </article>

      <article class="group relative">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
        >
          <img
            src="https://static.zara.net/photos///2023/I/0/2/p/5461/310/401/2/w/750/5461310401_6_1_1.jpg?ts=1696319986278"
            alt="Front of men's Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700 dark:text-white">
              <a href="./prendas/sueter">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Suéter
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Azul</p>
          </div>
          <p class="text-sm font-medium text-gray-900 dark:text-white">S/65</p>
        </div>
      </article>

      <article class="group relative">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
        >
          <img
            src="https://www.ikks.com/dw/image/v2/BFQN_PRD/on/demandware.static/-/Sites-ikks_master_v0/default/dw174ceaa7/produits/BR90565-22/IKKS-ECHARPE-GRISE-EN-LAINE-MOUSSEUSE-FEMME-BR90565-22_1.jpg?sw=707&sh=910"
            alt="Front of men's Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700 dark:text-white">
              <a href="./prendas/bufanda">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Bufanda
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Plomo</p>
          </div>
          <p class="text-sm font-medium text-gray-900 dark:text-white">S/15</p>
        </div>
      </article>
    </section>
  </main>
</Layout>
