---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Tienda">
  <main class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 md:dark:bg-gray-900"
    >
      <h2
        class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Últimos Lanzamientos
      </h2>

      <section
        class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
      >
        <article class="group relative">
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
              alt="Front of men's Basic Tee in black."
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700 dark:text-white">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Camiseta
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Negro</p>
            </div>
            <p class="text-sm font-medium text-gray-900 dark:text-white">
              S/45
            </p>
          </div>
        </article>

        <article class="group relative">
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
              alt="Front of men's Basic Tee in black."
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700 dark:text-white">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Pantalón
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
                Blanco
              </p>
            </div>
            <p class="text-sm font-medium text-gray-900 dark:text-white">
              S/105
            </p>
          </div>
        </article>

        <article class="group relative">
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
              alt="Front of men's Basic Tee in black."
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700 dark:text-white">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Chaqueta
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
                Marrón
              </p>
            </div>
            <p class="text-sm font-medium text-gray-900 dark:text-white">
              S/180
            </p>
          </div>
        </article>

        <article class="group relative">
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
              alt="Front of men's Basic Tee in black."
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700 dark:text-white">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Vestido
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Rojo</p>
            </div>
            <p class="text-sm font-medium text-gray-900 dark:text-white">
              S/60
            </p>
          </div>
        </article>
        <!-- More products... -->
      </section>
      <!-- More sections... -->
      <section
        class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
      >
        <article class="group relative">
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
              alt="Front of men's Basic Tee in black."
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700 dark:text-white">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Abrigo
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Verde</p>
            </div>
            <p class="text-sm font-medium text-gray-900 dark:text-white">
              S/95
            </p>
          </div>
        </article>

        <article class="group relative">
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
              alt="Front of men's Basic Tee in black."
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700 dark:text-white">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Zapatos de Vestir
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Negro</p>
            </div>
            <p class="text-sm font-medium text-gray-900 dark:text-white">
              S/145
            </p>
          </div>
        </article>

        <article class="group relative">
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
              alt="Front of men's Basic Tee in black."
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700 dark:text-white">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Suéter
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Azul</p>
            </div>
            <p class="text-sm font-medium text-gray-900 dark:text-white">
              S/65
            </p>
          </div>
        </article>

        <article class="group relative">
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
              alt="Front of men's Basic Tee in black."
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700 dark:text-white">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Bufanda
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Plomo</p>
            </div>
            <p class="text-sm font-medium text-gray-900 dark:text-white">
              S/15
            </p>
          </div>
        </article>
      </section>
    </div>
  </main>
</Layout>
