---
import Layout from "../../layouts/MainLayout.astro";
---

<Layout title="Camiseta">
  <section class="w-95 max-w-120rem mx-auto">
    <div class="pt-8 md:grid md:grid-cols-2 md:gap-20">
      <picture
        class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75"
      >
        <img
          src="https://static.zara.net/assets/public/8149/7af1/d7d74347a4ca/578e1c9b9ed4/06462411800-e1/06462411800-e1.jpg?ts=1709823508515&w=750"
          alt="Polo negro"
          class="h-full w-full object-cover object-center lg:h-full lg:w-full"
        />
      </picture>
      <div class="flex flex-col justify-center mt-8 md:mt-0">
        <h2 class="mb-4">Polo Negro</h2>
        <p class="mb-4 text-[#F53756] font-bold">S/45.00</p>
        <p class="mb-6 text-base text-black leading-snug dark:text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem nihil delectus expedita, atque nisi est assumenda,
          neque voluptas dolores porro debitis recusandae id ipsum repellat
          quaerat ratione. Iure, tempore quae?
        </p>
        <div class="grid grid-cols-2 gap-8">
          <a href="./../compras" class="flex justify-center">
            <input
              class="bg-[#e51919] text-white p-3 text-center cursor-pointer"
              type="button"
              value="Comprar prenda"
            />
          </a>
          <a href="./../cesta" class="flex justify-center">
            <input
              id="addToCart"
              class="bg-green-500 text-white p-3 text-center cursor-pointer"
              type="button"
              value="Agregar al carrito"
            />
          </a>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const addToCartButton = document.getElementById("addToCart");

      addToCartButton.addEventListener("click", () => {
        const product = {
          id: "camiseta1", // Un identificador único para el producto
          name: "Polo Negro",
          price: 45.0,
          image:
            "https://static.zara.net/assets/public/8149/7af1/d7d74347a4ca/578e1c9b9ed4/06462411800-e1/06462411800-e1.jpg?ts=1709823508515&w=750",
          quantity: 1,
        };

        // Obtener el carrito actual del localStorage
        let cart = JSON.parse(localStorage.getItem("cart")) || [];

        // Verificar si el producto ya está en el carrito
        const existingProductIndex = cart.findIndex(
          (item) => item.id === product.id,
        );

        if (existingProductIndex >= 0) {
          // Si el producto ya está en el carrito, incrementar la cantidad
          cart[existingProductIndex].quantity += 1;
        } else {
          // Si el producto no está en el carrito, agregarlo
          cart.push(product);
        }

        // Guardar el carrito actualizado en el localStorage
        localStorage.setItem("cart", JSON.stringify(cart));

        // Redirigir a la página de la cesta
        window.location.href = "../cesta";
      });
    });
  </script>
</Layout>
