---
import Layout from "../../layouts/MainLayout.astro";
---

<Layout title="Camiseta">
    <section class="w-95 max-w-120rem mx-auto">
        <div class="py-20 md:py-0 md:grid md:grid-cols-2 md:gap-20">
            <img
                src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
                alt="Polo negro"
                class="max-w-full block border-none"
            />
            
        </div>
    </section>
</Layout>
