---
import Layout from "../../layouts/MainLayout.astro";
---

<Layout title="Camiseta">
  <section class="w-95 max-w-120rem mx-auto">
    <div class="pt-8 md:grid md:grid-cols-2 md:gap-20">
      <picture
        class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75"
      >
        <img
          src="https://static.zara.net/assets/public/fcf9/c170/241544f298a3/02ec5f524100/04661315600-e1/04661315600-e1.jpg?ts=1711114223597&w=750"
          alt="Polo negro"
          class="h-full w-full object-cover object-center lg:h-full lg:w-full"
        />
      </picture>
      <div class="flex flex-col justify-center mt-20 md:mt-0">
        <h2 class="mb-4">Vestido Rojo</h2>
        <p class="mb-4 text-[#F53756] font-bold">S/60.00</p>
        <p class="text-base text-black leading-snug dark:text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem nihil delectus expedita, atque nisi est assumenda,
          neque voluptas dolores porro debitis recusandae id ipsum repellat
          quaerat ratione. Iure, tempore quae?
        </p>
        <div class="grid grid-cols-2 gap-8">
          <a href="/ruta/a/tu/archivo.astro" class="flex justify-center">
            <input
              class="bg-[#e51919] text-white p-3 text-center cursor-pointer"
              type="button"
              value="Comprar prenda"
            />
          </a>
          <a href="/ruta/a/tu/archivo.astro" class="flex justify-center">
            <input
              class="bg-green-500 text-white p-3 text-center cursor-pointer"
              type="button"
              value="Agregar al carrito"
            />
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
