---
import Layout from "../../layouts/MainLayout.astro";
---

<Layout title="Camiseta">
    <section class="w-95 max-w-120rem mx-auto">
        <div class="py-20 md:py-0 md:grid md:grid-cols-2 md:gap-20">
            <img
                src="https://static.zara.net/assets/public/7e4d/8ccc/3bed4e70a0ca/ad71843e6ed7/12407221800-e2/12407221800-e2.jpg?ts=1709192253876&w=750"
                alt="Polo negro"
                class="max-w-full block border-none"
            />
            <div class="flex flex-col justify-center mt-20 md:mt-0">
                <h2 class="mb-4">Zapatos de vestir Negro</h2>
                <p class="mb-4 text-[#F53756] font-bold">S/145.00</p>
                <p class="text-base text-black leading-snug dark:text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Exercitationem nihil delectus expedita, atque nisi est
                    assumenda, neque voluptas dolores porro debitis recusandae
                    id ipsum repellat quaerat ratione. Iure, tempore quae?
                </p>
                <div class="grid grid-cols-2 gap-8">
                    <a href="/ruta/a/tu/archivo.astro" class="flex justify-center">
                        <input class="bg-[#e51919] text-white p-3 text-center cursor-pointer" type="button" value="Comprar prenda"/>
                    </a>
                    <a href="/ruta/a/tu/archivo.astro" class="flex justify-center">
                        <input class="bg-green-500 text-white p-3 text-center cursor-pointer" type="button" value="Agregar al carrito"/>
                    </a>
                </div>
            </div>
        </div>
    </section>
</Layout>
