---
import Layout from "../../layouts/MainLayout.astro";
---

<Layout title="Camiseta">
    <section class="w-95 max-w-120rem mx-auto">
        <div class="py-20 md:py-0 md:grid md:grid-cols-2 md:gap-20">
            <img
                src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
                alt="Polo negro"
                class="max-w-full block border-none"
            />
            <div class="flex flex-col justify-center mt-20 md:mt-0">
                <h2 class="mb-4">Zapatos de vestir Negro</h2>
                <p class="mb-4 text-[#F53756] font-bold">S/145.00</p>
                <p class="text-base text-black leading-snug dark:text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Exercitationem nihil delectus expedita, atque nisi est
                    assumenda, neque voluptas dolores porro debitis recusandae
                    id ipsum repellat quaerat ratione. Iure, tempore quae?
                </p>
            </div>
        </div>
    </section>
</Layout>
