---
import CardPrendas from "./CardPrendas.astro";
import { getAllPrendas } from "../../services/prendas";

const allPrendas = await getAllPrendas();
---

<section
  class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
>
  {
    allPrendas.map((prenda) => {
      <CardPrendas id="" nombre="" color="" precio="" img="" />;
    })
  }
</section>
